<Files "rss.xml">
    <IfModule mod_mime.c>
        ForceType application/rss+xml
    </IfModule>
    <IfModule mod_headers.c>
        Header set Content-Type "application/rss+xml; charset=UTF-8"
    </IfModule>
</Files>

ErrorDocument 404 /404.html