name: lolipop
on: #トリガーを設定
  #下記ブランチにpushされたら実行
  push:
    branches: ["master", "main"]

  #下記のイベントが発生したら実行
  repository_dispatch:
    types: [update_post]

jobs: #実行するジョブを指定する
  build: #「build」という名前のジョブを定義
    name: 🎉 Deploy
    #Ubuntuの最新版環境内で処理を実行することを指定
    runs-on: ubuntu-latest

    #実行する処理やコマンドを指定する
    steps:
      #公式のアクション「actions/checkout」実行する。リポジトリをクローンしてくる
      - name: 📦 Get latest code
        uses: actions/checkout@v3

      #nodeのバージョンを指定
      - name: 💻 Setup node
        uses: actions/setup-node@v3 #公式のアクションを使用する
        with: #引数でバージョン指定
          node-version: "16"

      #node moduleをインストール
      - name: 😉 Install modules
        run: npm install
        working-directory: ./ #ディレクトリのトップで実行

      # #ビルド
      - name: 🐶 Build Project
        run: npm run build
        working-directory: ./ #ディレクトリのトップで実行
        env: #環境変数を設定
          API_KEY: ${{ secrets.API_KEY }} #APIのURLを設定
          SERVICE_DOMAIN: ${{ secrets.SERVICE_DOMAIN }} #サービスドメインを設定
          NEXT_PUBLIC_API_KEY: ${{ secrets.NEXT_PUBLIC_API_KEY }} #プレビュー用のAPIのURLを設定
          NEXT_PUBLIC_SERVICE_DOMAIN: ${{ secrets.NEXT_PUBLIC_SERVICE_DOMAIN }} #プレビュー用のサービスドメインを設定

      # #ビルドしたファイルをFTPでアップロード
      - name: 🏠 Upload to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }} #アップロード先のサーバー名
          username: ${{ secrets.FTP_ACCOUNT }} #アップロード先のサーバーアカウント名
          password: ${{ secrets.FTP_PASSWORD }} #アップロード先のサーバーパスワード
          local-dir: out/ #アップロードしたいファイルの階層を指定
          server-dir: /hsmkrt-tech/ #アップロード先のディレクトリを指定
